body{
    font-family: 'DM Sans', sans-serif; 
    background: #ECE2D0;
    
}
p{
   align-items: center; 
}
#header {
    position: fixed;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    height: 80 ;
}
.header{
    background: #e5dcca66;
    width: 100%;
    border-bottom: 5  #473144 solid;
}
.flex-container {
    display: flex;
    left: 0 ;
    right: 0 ;
    margin-left: 50%;
    
  }
  .flex-item1 {
    background-color: #CCB69B;
    font-weight: bold;
    color: #473144;
    width: 100%;
    margin: 10 ;
    text-align: center;
    line-height: 15 ;
    font-size: 20 ;
    margin-top: 85 ;
    padding:2%;
  }
  .flex-item1:hover{
    background-color: #473144;
  }
  .flex-item2 {
    background-color:#473144;
    
    width: 100%;
    margin: 10 ;
    text-align: center;
    line-height: 15 ;
    font-size: 20 ;
    margin-top: 85 ;
    padding:2%;
  }

.header .content /*es una cadena, uno esta dentro dele otro*/{
width: 100%;
height: 50%;
position: absolute;
background: #473144;
}
.header .content .img{
    align-items: flex-start;
    margin-left: 0%;
    margin-top: 0%;
    }
.header .content .p1{
top:1 ;
color:#CCB69B;
font-size: 32 ;
margin-left: 6%;
display: inline;
font-weight:540;
}
.header .content .p2{
    color:#ECE2D0;
    font-size: 20 ;
    margin-top: 2 ;
    margin-left: 4%;
    }



.img{
    left: 0%;
    overflow: hidden;
    position:absolute;
}
.inform1{
    height: 50%;
    align-items: center;
    vertical-align: middle;
    text-align:justify;
    background-color: #CCB69B;
    margin-top: 2%;
    padding: 10 ;
    
}

.inform{
    height: 50%;
    align-items: center;
    text-align:justify;
    background-color: #CCB69B;
    margin-top: 3%;
    padding: 10 ;
    list-style-image: url("trabajo1.png")
}
.contacto{
    height: 320 ;
    text-align:justify;
    background-color: #CCB69B;
    margin-top: 40 ;
    padding: 10 ;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}
.contacto .titulo1{
    color:#473144;
    text-align: center;
    border-bottom: 2  #473144 solid;
    font-size: 45 ;
    font-weight: bold;
    margin-top: 1 ;
    padding-bottom: 5 ;
}
.h{
   display: inline;
   vertical-align:text-top;
}
.inform1 .titulo11{
    color:#473144;
    text-align: center;
    border-bottom: 2  #473144 solid;
    font-size: 35 ;
    font-weight: bold;
    margin-top: 1 ;
    padding-bottom: 5 ;
}
.inform .titulo1{
    color:#473144;
    text-align: center;
    border-bottom: 2  #473144 solid;
    font-size: 35 ;
    font-weight: bold;
    margin-top: 1 ;
    padding-bottom: 5 ;
}
.inform .doble{
    color:#473144;
    border-bottom: 2  #473144 solid;
    font-size: 35 ;
    font-weight: bold;
    display:inline;
    padding-inline: 100 ;
    margin-inline: 100 ;
    margin-right: 50 ;
}
.contacto .pregunta{
    color:#473144;
    font-weight: bold;
    font-size: 25 ;
    margin-left: 2%;
    display:inline;
    
}
.contacto .respuesta{
    color:#473144;
    margin-left: 2%;
    font-size: 25 ;
    display:inline;
}
.inform .pregunta{
    color:#473144;
    font-weight: bold;
    font-size: 20 ;
    margin-left: 2%;
    display:inline;
}
.inform .respuesta{
    color:#473144;
    margin-left: 2%;
    font-size: 20 ;
    display:inline;
}
.inform1 .pregunta1{
    color:#473144;
    font-weight: bold;
    font-size: 20 ;
    margin-left: 2%;
    display:inline;
}
.inform1 .respuesta1{
    color:#473144;
    margin-left: 2%;
    font-size: 20 ;
    display:inline;
}
.inform .img3{
    right: 0%;   
    top:auto;
    position:absolute;
}
.inform .tablas, tr, th, td{
    
    color: #473144;
    margin-left: 2%;
    font-size: 20 ;
    align-content: center;
    align-items: center;
    border-collapse: collapse;
}
.inform .tablai{
    
    color: #473144;
    font-size: 20 ;
    border-collapse: collapse;
    display: inline;
    padding-left: 210 ;
    padding-right: 510 ;
    margin: 0 auto;
}


.tablaf, tr, th, td{
    color: #473144;
    font-size: 20 ;
    border-collapse: collapse;
    margin-left: 12%;
    text-align: center;
    padding-left: 21 ;
    /*border: #473144 solid;*/
}
th.u{
    width: 60 ;
}
th.f{
    border-left:80  solid #CCB69B;
}

td{
    height: 20 ;
    width: 60 ;
    background-color:#7a4c4d;
   
}
table.linea1{
    
    width: auto; 
    height: auto;
    margin: 0 auto;
}
ul{
    color:#473144;
    margin-left: 2%;
    font-size: 20 ;
}


.img2{
        right: 0%;   
        top:auto;
        position:absolute;
        clear:right;
        
}
.img4{
    right:9.5%;   
    position:absolute;
    clear:right;
}

img.icono{
    width:30 ;
    padding: 0.5%;
    margin-bottom: 0%;
}
/*Cuando estamos en una página del menú*/
a.menu{
    color: #CCB69B;
    background: #473144;

}
a{
    color:#473144;
    text-decoration: none;
}
a.inicio:hover{
    color: #7a4c4d;
}
a:hover{
    color:#CCB69B
    
}
a.enlace:hover{
    color: #ECE2D0;
}
a.enlace{
    text-decoration:none;
}
footer {
    
    text-align:left;
    /*clear:both;*/
    bottom: 0;
    width: 100%;
    height: auto;
    background: #00000055;
    padding-left: 80 ;
}

#footer {
    position:fixed;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    height: 40 ;
}
.img3{
    left: 0%;
    overflow: hidden;
    position:absolute;
    margin-bottom: 6%;
    top: 0;
}